In [8]:
import pandas as pd

# Read the HTML file into a DataFrame
df_html = pd.read_html("albums.html")[0]  # [0] is used to select the first table in the HTML file

In [11]:
df_html.head()

,Album Title,Artist,Songs,Release Year
0,Rumours,Fleetwood Mac,"Go Your Own Way, Dreams, Don't Stop, The Chain...",1977
1,Thriller,Michael Jackson,"Wanna Be Startin' Somethin', Thriller, Beat It...",1982
2,Dark Side of the Moon,Pink Floyd,"Speak to Me, Breathe, On the Run, Time, The Gr...",1973

In [9]:
# Read the JSON file into a DataFrame
df_json = pd.read_json("albums.json")

In [13]:
df_json.head()

,Album Title,Artist,Songs,Release Year
0,Rumours,Fleetwood Mac,"[Go Your Own Way, Dreams, Don't Stop, The Chai...",1977
1,Thriller,Michael Jackson,"[Wanna Be Startin' Somethin', Thriller, Beat I...",1982
2,Dark Side of the Moon,Pink Floyd,"[Speak to Me, Breathe, On the Run, Time, The G...",1973

In [14]:
# Check if the two DataFrames are identical
are_identical = df_html.equals(df_json)

if are_identical:
    print("The two DataFrames are identical.")
else:
    print("The two DataFrames are not identical.")

The two DataFrames are not identical.